        * {
            margin: 0;
            padding: 0;
        }
        
        .div1 {
            min-width: 1000px;
            border: 1px solid tomato;
        }
        
        .list {
            font-size: 18px;
        }
        
        .list li {
            margin: 0px 0px 10px 0px;
            padding: 0px 0px 0px 30px;
            position: relative;
        }
        
        .list li:before {
            content: '';
            background: url(/ant-design_twitter-outlined.png)0 0 no-repeat;
            width: 20px;
            height: 20px;
            position: absolute;
            left: 0;
        }