*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    flex: 1;
}

.header {
    width: 100%;
    background-color: #000;
    margin: 0 auto;
}

.header__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.logo {
    width: 50px;
    height: 50px;
    background-image: url(./rsschool-cv/assets/svg/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.nav-item {
    padding: 20px;
    color: #fff;
    font-size: 25px;
    line-height: 50px;
    transition: 0.3s;
    cursor: pointer;
}

.nav {
    margin-left: auto;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    list-style: none;
}

.container {
    width: calc(100% - 40px);
    max-width: 1440px;
    margin: 0 auto;
    padding: 5px 20px;
}

.nav-item.active {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.nav-item.active:hover {
    filter: none;
}

.main {
    display: flex;
    background-image: url("./rsschool-cv/assets/img/forest.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 120px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: black;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    width: calc(100% - 40px);
    margin: 0 auto;
    padding: 5px 20px;
    font-size: 20px;
}

.footer__data {
    display: flex;
}

.rss-logo {
    width: 135px;
    height: 50px;
    background-image: url(./rsschool-cv/assets/svg/rss.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transition: .3s;
}

.rss-logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.year {
    color: white;
}

.github-username {
    text-decoration: none;
    color: white;
    padding-left: 20px;
}

.copyright {
    color: white;
    padding-right: 20px;
}

.github-username:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.nav-item:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.play {
    width: 160px;
    height: 160px;
    background-image: url(/rsschool-cv/assets/svg/play.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: 0;
    transition: .3s;
}

.play:hover {
    filter: brightness(.85);
}