        /* обнуление */
        
        *,
        *::before,
        *::after {
            padding: 0;
            margin: 0;
            border: 0;
            box-sizing: border-box;
        }
        
        a {
            text-decoration: none;
        }
        
        ul,
        ol,
        li {
            list-style: none;
        }
        
        img {
            vertical-align: top;
        }
        
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-weight: inherit;
            font-size: inherit;
        }
        
        html,
        body {
            height: 100%;
            line-height: 1;
            font-size: 16px;
            color: #252B42;
            font-weight: 500px;
            ;
        }
        
        .wrapper {
            min-height: 100%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            background: url(/rsschool-cv/travel/Rectangle\ 26\ \(18\).png)top center no-repeat;
        }
        
        .header-container {
            background: rgba(242, 120, 92, 0.7);
            box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
            height: 90px;
            position: relative;
        }
        
        ._newcontainer {
            max-width: 1440px;
            margin: 0px auto;
            padding: 0px;
        }
        
        .main {
            flex: 1 1 auto;
        }
        
        .header-logotype-text {
            font-family: 'Magra';
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 39px;
            color: #FFFFFF;
        }
        
        .logo {
            box-sizing: border-box;
            width: 216px;
            height: 31px;
            position: absolute;
            top: 25px;
            left: 120px;
            bottom: 34px;
        }
        
        .menu_list {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            position: absolute;
            width: 527px;
            height: 21px;
            left: 494px;
            top: 35px;
            bottom: 34px;
        }
        
        .menu_item:not(:last-child) {
            margin: 0px 42px 0px 0px;
        }
        
        .menu_item {
            font-family: 'Red Hat Text';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            color: #FFFFFF;
        }
        
        .menu_link {
            color: white;
        }
        
        .header-login-button {
            background: #0D606F;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
            border-radius: 10px;
            padding: 10px 30px 10px 30px;
            position: absolute;
            right: 120px;
            top: 25px;
            color: white;
            width: 103px;
            height: 41px;
            transform: scale(1);
            transition: 0.25s ease-out;
            cursor: pointer;
            text-decoration: none;
            font-family: 'Red Hat Text';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            color: #FFFFFF;
        }
        /*-------------------------------*/
        
        .winwrap {
            width: 892px;
            height: 422px;
            margin: 33px 419px auto 129px;
        }
        
        .h1 {
            font-family: 'Aleo';
            font-style: normal;
            font-weight: 700;
            font-size: 80px;
            line-height: 96px;
            color: #FFFFFF;
        }
        
        .text {
            font-family: 'Aleo';
            font-style: italic;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: #FFFFFF;
            width: 723px;
            height: 24px;
            padding-top: 40px;
        }
        
        .prewiev-form {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 40px;
            padding-right: 18px;
            margin-top: 45px;
            cursor: pointer;
            max-width: 892px;
            height: 95px;
            border-radius: 15px;
            background-color: #ffffffb3;
        }
        
        .prewiev-form-search {
            padding: 0;
            margin: 0;
            cursor: pointer;
            font-family: Aleo;
            font-style: italic;
            font-weight: 500;
            font-size: 24px;
            border: 0;
            outline: 0;
            background-color: #ffffff00;
            color: #f2785c;
        }
        
        .prewiev-form-button {
            margin: 0;
            cursor: pointer;
            font-family: 'Red Hat Text';
            font-weight: 500;
            font-size: 24px;
            color: #ffffff;
            border: none;
            border-radius: 10px;
            background-color: #0d606f;
            transform: scale(1);
            transition: 0.25s ease-out;
            padding: 14px 34px;
        }
        
        .button {
            cursor: pointer;
            font-family: 'Red Hat Text';
            font-weight: 500;
            font-size: 24px;
            color: #ffffff;
            border: none;
            border-radius: 10px;
            background-color: #0d606f;
            transform: scale(1);
            transition: 0.25s ease-out;
            width: 228px;
            height: 59px;
        }
        
        input::-webkit-input-placeholder {
            color: #F2785C;
        }
        
        .steps3 {
            margin-top: 300px;
        }
        
        .stepwrapp {
            min-height: 100%;
        }
        
        .steps {
            text-align: center;
            font-family: 'Red Hat Text';
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            line-height: 53px;
            color: #F2785C;
        }
        
        .raw {
            display: flex;
            justify-content: space-between;
            width: 1177px;
            margin-left: 131px;
            margin-top: 40px;
        }
        
        .first {}
        
        .image {
            padding-left: 73px;
            padding-bottom: 30px
        }
        
        .second {}
        
        .third {}
        
        .f1 {}
        
        .pimg {
            font-family: 'Aleo';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            /* identical to box height */
            color: #0D606F;
        }
        
        .footer {
            position: relative;
        }
        
        .footer-list {
            display: flex;
            justify-content: end;
            align-items: center;
            padding-right: 120px;
            padding-bottom: 14px;
        }
        
        .footer-item {}
        
        .footer-item:not(:last-child) {
            padding-right: 20px;
        }
        
        .footernext {
            padding-left: 590px;
        }
        
        .destination {
            margin-bottom: 80px;
        }
        
        .destination-header {
            margin: 97px 0 46px 0;
        }
        
        .step-header,
        .destination-header,
        .stories-header {
            text-transform: uppercase;
            font-family: 'Red Hat Text';
            font-weight: 500;
            font-style: normal;
            font-size: 40px;
            text-align: center;
            color: #f2785c;
        }
        
        .carousel {
            display: flex;
            justify-content: center;
            gap: 60px;
            overflow: hidden;
        }
        
        .carousel-images {
            position: relative;
            flex-shrink: 0;
        }
        
        .destination-image {
            border-radius: 16px;
            width: 100%;
            object-fit: fill;
        }
        
        .carousel-header {
            position: absolute;
            bottom: 42px;
            left: 15px;
            z-index: 15;
            font-family: 'Red Hat Text';
            font-size: 32px;
            font-weight: 500;
            font-style: normal;
            text-transform: uppercase;
            color: #ffffff;
        }
        
        .arr {
            display: none;
            position: absolute;
        }
        
        .carousel-header {
            position: absolute;
            bottom: 42px;
            left: 15px;
            z-index: 15;
            font-family: 'Red Hat Text';
            font-size: 32px;
            font-weight: 500;
            font-style: normal;
            text-transform: uppercase;
            color: #ffffff;
        }
        
        .carousel-header {
            position: absolute;
            bottom: 42px;
            left: 15px;
            z-index: 15;
            font-family: 'Red Hat Text';
            font-size: 32px;
            font-weight: 500;
            font-style: normal;
            text-transform: uppercase;
            color: #ffffff;
        }
        
        .arrow-button {
            display: block;
            margin: 36px auto 0 auto;
            padding: 14px 32px 14px 80px;
            background-image: url(./assets/img/bi_arrow-right.svg);
            background-size: 40px auto;
            background-repeat: no-repeat;
            background-position: left 30px center;
        }
        
        .button {
            cursor: pointer;
            font-family: 'Red Hat Text';
            font-weight: 500;
            font-size: 24px;
            color: #ffffff;
            border: none;
            border-radius: 10px;
            background-color: #0d606f;
            transform: scale(1);
            transition: 0.25s ease-out;
        }
        
        .section-circle {
            display: inline-block;
            margin: 20px 3px 0 3px;
            width: 20px;
            height: 20px;
            border-radius: 10px;
        }
        
        .circle1,
        .circle3 {
            background-color: #f2785c80;
        }
        
        .circle2 {
            background-color: #f2785c;
        }
        
        .carousel-circle {
            text-align: center;
        }
        
        .section-circle {
            margin: 20px 3px 0 3px;
            width: 20px;
            height: 20px;
            border-radius: 10px;
        }
        
        .travel-wrapper {
            padding-top: 0px 120px;
        }
        
        .tralback {
            background: linear-gradient(#ffffffb3, #ffffffb3), url(/rsschool-cv/travel/Rectangle\ 26\ \(9\).png) top center no-repeat;
            background-size: auto;
            padding-top: 40px;
            padding-bottom: 40px;
            opacity: 1;
        }
        
        .travelflex {
            height: 1322px;
            display: flex;
            flex-direction: column;
        }
        
        .stories-text {
            font-family: 'Aleo';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #0D606F;
        }
        
        .travh2 {
            font-family: 'Red Hat Text';
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            line-height: 53px;
            /* identical to box height */
            color: #F2785C;
            text-align: center;
        }
        
        .story picture {
            float: left;
        }
        
        .travh2 {
            margin-bottom: 40px;
        }
        
        .story {
            margin-bottom: 30px;
        }
        
        .story-art {
            padding-left: 440px;
        }
        
        .story-header {
            font-family: 'Aleo';
            font-style: normal;
            font-weight: 400;
            font-size: 35px;
            line-height: 42px;
            /* identical to box height */
            color: #0D606F;
        }
        
        .stories-link {
            font-family: 'Aleo';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            text-decoration-line: underline;
            color: #0D606F;
        }
        
        .footer {
            background: url(фон.jpg) bottom center no-repeat;
        }
        
        .main {
            margin-bottom: -80px
        }
        
        .stories-text {
            width: 760px;
            height: 184px;
        }
        
        .story {
            padding-left: 120px;
        }
        
        .footernext {
            font-family: 'Red Hat Text';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            color: #FFFFFF;
            margin-top: 36px;
        }
        
        .see-button {
            cursor: pointer;
            font-family: 'Red Hat Text';
            font-weight: 500;
            font-size: 24px;
            color: #ffffff;
            border: none;
            border-radius: 10px;
            background-color: #0d606f;
            transform: scale(1);
            transition: 0.25s ease-out;
            position: relative;
            left: 1030px;
            bottom: 170px;
            padding: 10px 32px;
        }
        
        @keyframes move-right {
            from {
                margin-left: 0px;
            }
            to {
                margin-left: -1700px;
            }
        }
        
        @keyframes move-left {
            from {
                padding-left: 0px;
            }
            to {
                padding-left: 1700px;
            }
        }
        
        .transition-right {
            animation-name: move-right;
            animation-duration: 3s;
        }
        
        .transition-left {
            animation-name: move-left;
            animation-duration: 3s;
        }
        
        .carousel {
            position: relative;
        }
        
        .popup {
            position: fixed;
            top: 143px;
            left: 0;
            right: 0;
            max-width: 650px;
            width: 43%;
            margin: auto;
            display: flex;
            justify-content: center;
            z-index: 20;
            background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);
            box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
            border-radius: 16px;
            transition: all 0.8s ease 0s;
            opacity: 0;
            visibility: hidden;
        }
        
        .popup__wrapper {
            max-width: 560px;
            width: 86%;
            padding: 25px 0 23px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .popup__title {
            margin-bottom: 30px;
        }
        
        .popup__title-text {
            font-weight: 700;
            font-size: 32px;
            line-height: 38px;
            color: #0D606F;
        }
        
        .popup__social-container {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        
        .facebook-button {
            background: #1877F2;
            margin-bottom: 20px;
        }
        
        .popup__button-content-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        img {
            max-width: 100%;
            height: auto;
        }
        
        .popup__button-label {
            padding-left: 15px;
        }
        
        .google-button {
            background: #FFF;
            color: #0D606F;
            margin-bottom: 30px;
        }
        
        .popup__button-content-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .popup__button-label {
            padding-left: 15px;
        }
        
        .popup__divider {
            width: 100%;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: rgba(13, 96, 111, 0.5);
            margin-bottom: 10px;
        }
        
        .popup__divider-line {
            display: inline-block;
            height: 1px;
            width: calc(50% - 21.5px);
            margin-bottom: 4px;
            background: rgba(13, 96, 111, 0.5);
        }
        
        .popup__divider-text {
            padding: 0 7px;
        }
        
        .popup__divider-line {
            display: inline-block;
            height: 1px;
            width: calc(50% - 21.5px);
            margin-bottom: 4px;
            background: rgba(13, 96, 111, 0.5);
        }
        
        .popup__input-container {
            width: 100%;
        }
        
        .popup__input-form {
            display: flex;
            flex-direction: column;
        }
        
        .popup__input-label {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #0D606F;
            margin-bottom: 5px;
        }
        
        .popup__input-field {
            height: 54px;
            background: #FFFFFF;
            box-shadow: inset 0 0 3px rgb(13 96 111 / 8%), inset 0 2px 3px rgb(13 96 111 / 16%);
            border-radius: 10px;
            border: none;
            color: #0D606F;
            font-size: 16px;
            padding: 10px;
            margin-bottom: 20px;
        }
        
        .popup__input-label {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #0D606F;
            margin-bottom: 5px;
        }
        
        .popup__input-field {
            height: 54px;
            background: #FFFFFF;
            box-shadow: inset 0 0 3px rgb(13 96 111 / 8%), inset 0 2px 3px rgb(13 96 111 / 16%);
            border-radius: 10px;
            border: none;
            color: #0D606F;
            font-size: 16px;
            padding: 10px;
            margin-bottom: 20px;
        }
        
        .popup__input-submit {
            background: #0D606F;
            margin-top: 5px;
            margin-bottom: 10px;
        }
        
        .popup__forgot {
            font-weight: 700;
            font-size: 15px;
            line-height: 18px;
            text-decoration-line: underline;
            color: #0D606F;
            text-shadow: 0px 2px 3px rgb(255 255 255 / 16%);
        }
        
        .bottom-line {
            width: 100%;
            margin-top: 26px;
        }
        
        .popup__divider-line {
            display: inline-block;
            height: 1px;
            width: calc(50% - 21.5px);
            margin-bottom: 4px;
            background: rgba(13, 96, 111, 0.5);
        }
        
        .popup__footer {
            padding-top: 18px;
        }
        
        .popup__footer-text,
        .popup__footer-link {
            font-weight: 700;
            font-size: 15px;
            line-height: 18px;
            color: rgba(13, 96, 111, 0.5);
        }
        
        .popup__footer-link {
            color: #0D606F;
        }
        
        .popup.open {
            opacity: 1;
            visibility: visible;
        }